# 01 â€“ Review Data Exploration
Explore and understand Starbucks review dataset.

In [1]:
import pandas as pd

# Load dataset
df = pd.read_excel('../data/processed/Business_Review_Market_Analysis.xlsx', sheet_name='Starbucks_review')

# Display top records
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,Cleaned_Text,Word_Count,Sentiment_Score,date,Sentiment_Label
0,ULzbgT5SPThiMOoo4a_Adw,veBX5roHQLNnQ1rTtNh_gg,aJvxWyQIG5OLfBw3qAe8xA,2,0,0,0,"Ordered Caramel frappe at Drive thru, BIG MIST...",ordered caramel frappe at drive thru big mista...,21,0.000000,2017-12-29,Neutral
1,RXqhxbAuPPSNs-oyJJyOgw,zZygOZLNyJX5nDqKrwa4HQ,MjZQqZAmJeMco_Vq-Y9h-g,4,0,0,0,Drum-roll please! Review #100 coming right up!...,drum-roll please review #100 coming right up \...,155,0.145990,2014-02-05,Neutral
2,LuMkMBAUV1B-2dm2pqSBWw,0SpK7eVn5TrpyQKPaohVBw,u7MJKcNdZXYyTeb67vD5jw,4,1,0,0,We stopped here for my Chai and Hubby's coffee...,we stopped here for my chai and hubby's coffee...,76,0.455556,2017-02-09,Positive
3,Z0Jt8xf0XqFD_xjPPm_d0g,IVnrNZ8npRx04jkNp6-ERA,saJFbz12EnzanelpD8_xXQ,2,0,0,0,There's been three times that I've ordered a g...,there's been three times that i've ordered a g...,33,-0.100000,2016-08-25,Neutral
4,NoPOfj7gC1l48dC0XH7Spw,tgP2gKsf3O9MyuLuolv2oQ,KiE0h68HGOO7ZXAqkMBdiw,1,0,1,0,"I went in when they had 4 people working, wait...",i went in when they had 4 people working waite...,65,-0.429340,2016-01-30,Negative

In [2]:
# Basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21736 entries, 0 to 21735
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   review_id        21454 non-null  object
 1   user_id          21469 non-null  object
 2   business_id      21584 non-null  object
 3   stars            21736 non-null  int64
 4   useful           21736 non-null  int64
 5   funny            21736 non-null  int64
 6   cool             21736 non-null  int64
 7   text             21736 non-null  object
 8   Cleaned_Text     21736 non-null  object
 9   Word_Count       21736 non-null  int64
 10  Sentiment_Score  21736 non-null  float64
 11  date             21736 non-null  datetime64[ns]
 12  Sentiment_Label  21736 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(6)
memory usage: 2.2+ MB

In [3]:
# Check for missing values
df.isnull().sum()

review_id          282
user_id            267
business_id        152
stars                0
useful               0
funny                0
cool                 0
text                 0
Cleaned_Text         0
Word_Count           0
Sentiment_Score      0
date                 0
Sentiment_Label      0
dtype: int64